.row
  .span12
= "Welcome #{@user.email}"
%div
  = link_to "Foursquare auth", "/auth/foursquare"

  = "Welcome #{@user.email}"
  %div
    = link_to "Foursquare auth", "/auth/foursquare"
  = "Welcome #{@user.email}"

  = render :partial => "/activities/new"