.leader.background-one
  .leader-logo
    %a{href:"#{company.tc_homepage_url}"}
      .img-wrapper
        -if company.image["available_sizes"].last.last[0] == 'a'
          %img{src:"http://www.crunchbase.com/#{company.image["available_sizes"].last.last}"}
        -else
          %img{src:company.image["available_sizes"].last.last}
  .leader-title
    %a{href:"#{company.tc_homepage_url}"}
      %h4= company.name
    .stats
      .upvote-count
        %h5= "+#{company.upvotes}"
      .downvote-count
        %h5= "-#{company.downvotes}"
  .leader-overview
    = company.overview.html_safe